.tupa-container {
  max-width: 1200px;
  margin: auto;
}

.list-group-item.active {
  background-color: #007bff !important;
  border-color: #007bff !important;
}

.area-name {
  font-weight: 800;
  text-transform: uppercase;
}

.card {
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.2s;
  &:hover {
    transform: translateY(-2px);
  }
}

.sticky-top {
  max-height: 80vh;
  overflow-y: auto;
}