/* Importamos una fuente moderna de Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  /* Un fondo gris súper clarito para que resalten las tarjetas blancas */
  background-color: #f4f7f6;
  color: #333;
  -webkit-font-smoothing: antialiased;
}